/* Write your CSS here */
.project-container {
  display: flex;
  flex-direction: column;
}

.project-img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #0967d2;
  font-size: 16px;
  font-weight: 550;
}
